# Aiken compilation artifacts
artifacts/
# Aiken's project working directory
build/
# Aiken's default documentation export
docs/
# artifacts
tmp/

me.addr
me.sk
mnemonic

yaci-cli.log
yaci-cli.history
config/download.properties
config/node.properties
config/application.properties


demo-cli.history

node_modules/
